.footer-mb {
  background-color: #055453;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;

}

.footer-wrapper {
  background: #055453;
  position: static;
  bottom: 0;
  padding: 12px;

  .footer-mwc {
    width: 100%;
    max-width: var(--footer-mwc-max-width);
    margin: auto;
  }
}